package components

templ Home(name string) {
<!doctype html>
<html data-theme="light">
    <head>
      <meta charset="UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link href="./css/output.css" rel="stylesheet"/>
    </head>
    <body>
    <div>
      <h1 class="text-3xl font-bold underline">
        Hello, { name }
        <button class="btn">Button</button>
      </h1>
      </div>
    </body>
</html>
}